$tarball = "/var/lib/schroot/tarballs/chroot.tgz"

package { "eatmydata": } ->
exec { "divert-apt":
  command => "/usr/sbin/dpkg-divert --rename --divert /usr/bin/apt-get.real --add /usr/bin/apt-get",
  creates => "/usr/bin/apt-get.real"
} -> file { "/usr/bin/apt-get":
   content => '#!/bin/sh
exec eatmydata "$0.real" "$@"
',
   owner => "root",
   mode => 0755,
} ->
package { 'haveged': } ->
package { 'sbuild': } ->
user { "ubuntu":
    groups => "sbuild",
} ->
file { "/var/lib/schroot/tarballs":
    ensure => directory,
} ->
exec { "fetch-tarball":
    command => "/usr/bin/wget -O $tarball {{ build_record.get_tarball.download_link }}",
    creates => $tarball,
} -> 
file { "$tarball":
    require => Exec["fetch-tarball"],
    owner => "root",
    group => "root",
} ->
file { "/etc/schroot/chroot.d'":
    ensure => "directory",
} ->
file { "/etc/schroot/chroot.d/sbuild":
    content => "[buildchroot]
description=buildchroot
groups=sbuild,root,admin
root-groups=sbuild,root,admin
source-root-users=sbuild,root,admin
source-root-groups=sbuild,root,admin
type=file
command-prefix=eatmydata
file=$tarball
",
} ->
exec { "/usr/bin/sbuild-update --keygen":
} ->
file { "/etc/schroot/setup.d/50apt":
  mode => "0755",
  content => '#!/bin/sh
set -e

. "$SETUP_DATA_DIR/common-data"
. "$SETUP_DATA_DIR/common-functions"

if [ -f "$CHROOT_SCRIPT_CONFIG" ]; then
    . "$CHROOT_SCRIPT_CONFIG"
elif [ "$STATUS" = "ok" ]; then
    fatal "script-config file CHROOT_SCRIPT_CONFIG does not exist"
fi

if [ "$VERBOSE" = "verbose" ]; then
  CP_VERBOSE="--verbose"
fi

if [ $STAGE = "setup-start" ] || [ $STAGE = "setup-recover" ]; then
    echo "deb     {{ settings.APT_REPO_BASE_URL }}/{{ build_record.series.repository.name }} {{ build_record.series.name }} main" > "${CHROOT_PATH}/etc/apt/sources.list.d/{{ build_record.series.repository.name }}-{{ build_record.series.name }}.list"
    echo "deb-src {{ settings.APT_REPO_BASE_URL }}/{{ build_record.series.repository.name }} {{ build_record.series.name }} main" >> "${CHROOT_PATH}/etc/apt/sources.list.d/{{ build_record.series.repository.name }}-{{ build_record.series.name }}.list"
    echo "deb     {{ settings.APT_REPO_BASE_URL }}/{{ build_record.series.repository.name }} {{ build_record.series.name }}-proposed main" >> "${CHROOT_PATH}/etc/apt/sources.list.d/{{ build_record.series.repository.name }}-{{ build_record.series.name }}.list"
    echo "deb-src {{ settings.APT_REPO_BASE_URL }}/{{ build_record.series.repository.name }} {{ build_record.series.name }}-proposed main" >> "${CHROOT_PATH}/etc/apt/sources.list.d/{{ build_record.series.repository.name }}-{{ build_record.series.name }}.list"
fi

cat <<EOF > "${CHROOT_PATH}/repo.key"
{{ build_record.series.repository.signing_key.public_key }}
EOF

chroot "${CHROOT_PATH}" /usr/bin/apt-key add /repo.key

' }

file { "/home/ubuntu/.dput.cf":
  content => '[return]
method   = ftp
fqdn     = {{ settings.FTP_IP }}
passive_ftp = 1
login    = anonymous
incoming = {{ settings.FTP_BASE_PATH }}/{{ build_record.series.repository.name }}/
',
  owner => ubuntu
}
