{% extends "base.html" %}
{% block content %}
<p>This is an overview over builds.</p>
<p>Build can be in one of these states:
  <dl>
    <dt>Needs building</dt>
    <dd>All build records start out in this state. A source package has just been uploaded and this build is scheduled to be built as soon as possible.</dd>
    <dt>Succesfully built</dt>
    <dd>The built has completed succesfully.</dd>
    <dt>Building</dt>
    <dd>The build is currently in process.</dd>
    <dt>Chroot Problem</dt>
    <dd>There was a problem with the infrastructure preventing the build from proceeding.</dd>
    <dt>Build for superseded source</dt>
    <dd>Another build has superseded this one. This happens if a new version of a particular package is uploaded before this one gets built.</dd>
    <dt>Failed to bulid</dt>
    <dd>The build was succesfully attempted, but failed. This indicates a problem with the package, not with the infrastructure.</dd>
    <dt>Dependency wait</dt>
    <dd>The build stated a dependency on another package which could not be found. Eventually, we will automatically retry builds in this state when the missing package is added.</dd>
    <dt>Failed to upload</dt>
    <dd>The build succeeded, but could not be uploaded from the build node to the master.</dd>
  </dl>
</p>
<p class="text-right">
  <span class="step-links">
      {% if build_records.has_previous %}
        <a href="?page={{ build_records.previous_page_number }}"><i class="icon-arrow-left"></i></a>
      {% endif %}
      <span class="current">
           Page {{ build_records.number }} of {{ build_records.paginator.num_pages }}.
      </span>
      {% if build_records.has_next %}
          <a href="?page={{ build_records.next_page_number }}"><i class="icon-arrow-right"></i></a>
      {% endif %}
  </span>
</p>
<table class="table table-striped">
  <tr>
    <th>Repository</th>
    <th>Series</th>
    <th>Package name</th>
    <th>Package version</th>
    <th>Architecture</th>
    <th>State</th>
    <th colspan=="2">Details</th>
  </tr>
{% for build in build_records %}
  <tr>
    <td>{{ build.series.repository.name.capitalize }}</a></td>
    <td>{{ build.series.name.capitalize }}</td>
    <td>{{ build.source_package_name }}</td>
    <td>{{ build.version }}</td>
    <td>{{ build.architecture }}</td>
    <td>{{ build.get_state_display }}</td>
    <td><a href="{% url "build_detail" build_id=build.id %}" class="btn">Details</a></td>
    {% if build.allow_rebuild %}
    <td>
      <form method="post" action="{% url "build_detail" build_id=build.id %}">
        {% csrf_token %}
        <input type="submit" name="action" value="Rebuild" />
      </form>
    </td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}
