{% extends "base.html" %}
{% load humanize %}
{% block content %}
  <div class="hero-unit">
    <h1>Welcome!</h1>
    <p>This fine system handles a lot of the grunt work of maintaining the Cisco OpenStack edition.
    It <ul>
            <li>controls build infrastructure,</li>
            <li>handles archive management, and</li>
            <li>monitors code repositories and builds packages when changes are found</li>
    </ul>

    It will eventually also  <ul>
      <li>keep track of patches that we have that upstream doesn't,</li>
      <li>keep track of patches that upstream has that we don't,</li>
      <li>keep track of security updates in Ubuntu that we need to pull into our packages,</li>
      <li>etc.</li>
    </ul>

    It's supposed to make your life easier, so if you want to add more stuff to it, get in touch!</p>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2><a href="{% url "build_list" %}">Recent builds</a></h2>
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Finished</th>
          <th>Architecture</th>
          <th>Repository</th>
        </tr>
        {% for build in latest_builds %}
        <tr {% if build.state == build.SUCCESFULLY_BUILT %}class="success"{% elif build.state == build.NEEDS_BUILDING %}{% else %}class="warning"{% endif %}>
          <td>
            <a href="{% url "build_detail" build_id=build.id %}">{{ build.source_package_name }}</a>
          </td>
          <td>
            <a href="{% url "build_detail" build_id=build.id %}">{{ build.version }}</a>
          </td>
          <td>
            {{ build.finished|naturaltime }} ({{ build.finished|date:"Y-m-d H:i:s" }})
          </td>
          <td>
            <a href="{% url "build_detail" build_id=build.id %}">{{ build.architecture }}</a>
          </td>
          <td>
            <a href="{% url "packages_list" repository_name=build.series.repository.name series_name=build.series.name %}">{{ build.series }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div><!--/span-->
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2>Recent changes</h2>
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th>When</th>
          <th>Code revision</th>
          <th>Packaging revision</th>
        </tr>
        {% for code_update in latest_code_updates %}
        <tr>
          <td>
              {{ code_update.name }}
          </td>
          <td>
              {{ code_update.last_changed|naturaltime }} ({{ code_update.last_changed|date:"Y-m-d H:i:s" }})
          </td>
          <td>
            <a href="{{ code_update.vcs_code_url }}">{{ code_update.last_seen_code_rev }}</a>
          </td>
          <td>
            <a href="{{ code_update.vcs_packaging_url }}">{{ code_update.last_seen_pkg_rev }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}
