{% extends "base.html" %}
{% load humanize %}
{% block content %}
<h1>{{ series.name.capitalize }}</h1>
<hr />
<h2>Series information</h2>
<dl>
  <dt>Repository</dt>
  <dd>{{ series.repository.name.capitalize }}</dd>
  <dt>Series</dt>
  <dd>{{ series.name.capitalize }}</dd>
</dl>
<hr />
<h3>Packages</h3>
<table class="table table-striped table-condensed">
  <tr>
    <th>Package name</th>
    <th>Stable version</th>
    <th>Proposed version</th>
    <th>Queued version</th>
  </tr>
{% for version_info in pkg_data|dictsort:"name" %}
  <tr{% if version_info.stable != version_info.proposed or version_info.queued and version_info.proposed != version_info.queued %} class="error"{% endif %}>
    <td>{{ version_info.name }}</td>
    <td>{{ version_info.stable }}</td>
    <td>{{ version_info.proposed }}</td>
    <td>{{ version_info.queued }}</td>
  </tr>
{% endfor %}
</table>
<h3>Package source subscriptions</h2>
<table class="table table-striped table-condensed">
  <tr>
    <th>Package source name</th>
  </tr>
{% for subscription in subscriptions %}
  <tr>
    <td>{{ subscription.source.name }} <a href="{% url "subscription_edit" subscription.id %}"><i class="icon-pencil"></i></a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}
